:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;

  --ratio: 1.61803398875;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

* {
  box-sizing: border-box;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
  line-height: 1.61803398875;
  font-kerning: normal;
}

body {
  max-width: 100ch;
}

/* UTIL CLASSES */
.stack > * + * {
  margin-top: var(--s1);
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex.center {
  justify-content: center;
}

/* CONTENT */

p {
  font-size: var(--s0);
  font-weight: normal;
}

/* TODO set font weight */

h1 {
  font-size: var(--s3);
  font-weight: bold;
}

h2 {
  font-size: var(--s2);
  font-weight: bold;
}

h3 {
  font-size: var(--s1);
  font-weight: bold;
}

main {
  max-width: 80ch;
}

header img {
  max-height: var(--s5);
}