:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --main: rgba( 5, 0, 255, 0.5 );

  --ratio: 1.61803398875;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

* {
  box-sizing: border-box;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Icons;
  color: var(--darkgray);
  background-color: var(--white);
  line-height: 1.61803398875;
  font-kerning: normal;
}

body > div {
  justify-content: center;
}

/* UTIL CLASSES */
.stack > * + * {
  margin-top: var(--s1);
}

.stack-half > * + * {
  margin-top: calc(var(--s0) * 0.5);
}

.stack-double > * + * {
  margin-top: var(--s2);
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex.center {
  justify-content: center;
}

/* CONTENT */

p {
  font-size: var(--s0);
  font-weight: normal;
}

.button {
  font-weight: 500;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out 0.1s;
}

main ul {
  list-style-type: disc;
  padding-left: 1.2rem;
}

.button.active {
  color: var(--white);
}

/* TODO set font weight */

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 500;
}

h1 {
  font-size: var(--s3);
  font-weight: bold;
}

h2 {
  font-size: var(--s2);
  font-weight: bold;
}

h2 time {
  font-size: var(--s0);
  font-weight: normal;
}

h3 {
  font-size: var(--s1);
  font-weight: bold;
}

main ol li > h2 ~ h2 {
  font-size: var(--s1);
}

main ol li > h2 ~ h1 {
  font-size: var(--s2);
}

main ol li > h2 ~ h3 {
  font-size: var(--s0);
}

main {
  width: 80ch;
}

header {
  border-bottom: 1px solid var(--darkgray);
  padding: var(--s2) 0;
}

header + * {
  margin-top: var(--s2);
}

header img {
  max-height: var(--s5);
}

header h2 {
  text-transform: uppercase;
}

nav {
  width: 20ch;
  margin: 0 var(--s1) var(--s1) var(--s0);
}

nav ul {
  list-style-type: none;
  font-size: var(--s0);
}

nav ul a,
nav ul a:visited {
  color: var(--darkgray);
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

nav ul a:hover {
  text-decoration: underline;
}

nav ul li.active > a {
  font-weight: bold;
}

nav ul a + ul {
  display: none;
}

nav ul ul a {
  padding-left: 1rem;
}

nav ul li.active a + ul {
  display: initial;
}

main.tmpl-home ol {
  list-style-type: none;
}

#lang {
  border: 1px solid var(--darkgray);
  position: relative;
  z-index: 1;
}

#slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--main);
  z-index: -1;
  transition: transform 0.33s ease-in-out;
}

#slider.eng {
  transform: translateX( 100% );
}

main#cv {
  overflow-x: hidden;
}

main#cv > div {
  width: 200%;
  transition: transform 0.33s ease-in-out;
}

main#cv > div.eng {
  width: 200%;
  transform: translateX( -50% );
}

main#cv > section {
  justify-content: flex-end;
}

.gallery-outer {
  width: 80ch;
  overflow-x: scroll;
  scrollbar-color: var(--darkgray) lightgray;
  scrollbar-width: thin;
}

.gallery-outer::-webkit-scrollbar {
  width: 11px;
}

.gallery-outer::-webkit-scrollbar-track {
  background: lightgray;
}

.gallery-outer::-webkit-scrollbar-thumb {
  background-color: var(--darkgray);
}

.gallery {
  width: 1000%;
  transition: transform 0.33s cubic-bezier(1,0,0,1);
  position: relative;
}

.gallery picture img,
.gallery picture source { 
  display: block;
} 

.gallery > picture + picture {
  margin-left: var(--s1);
}

footer {
  padding-top: var(--s2);
}

main#art ol + p {
  margin-top: var(--s1);
}

main#art ol {
  list-style-type: none;
}
