{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url or entry.url in page.url %} class="active"{% endif %}>
  <a href="{{ entry.url | url }}">{{ entry.key }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul class="flex col stack-half">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>